body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  background-color: #000;
  display: block;
  /* The width and height are set by JavaScript */
}